@import './variables.scss';

/* Element Plus 主题定制 */
:root {
  --el-color-primary: #{$primary-color};
  --el-color-success: #{$success-color};
  --el-color-warning: #{$warning-color};
  --el-color-danger: #{$danger-color};
  --el-color-info: #{$info-color};
}

/* 自定义组件主题 */
.el-menu {
  border-right: none;
}

.el-header {
  padding: 0 20px;
  background-color: $bg-color;
  box-shadow: $box-shadow-light;
}

.el-aside {
  background-color: #304156;
  transition: width 0.3s;
}

.el-main {
  padding: 20px;
  background-color: $bg-color-page;
}
